<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <h1>Авторизация</h1>
    <br><a class="qwe" href="/">Вернуться на главную</a> <br>
    <form method="post">
        Email: <input type="email" name="email" required><br>
        Пароль: <input type="password" name="password" required><br>
        <button class="qwe" type="submit">Авторизоваться</button>
    </form>
</body>
</html>